<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ ((totalThisMonth$ | async) || 0) | currency:'₱' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Total amount recorded this month.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ ((biggestThisMonth$ | async) || 0) | currency:'₱' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Biggest amount recorded this month.
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add']" routerLinkActive="router-link-active" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
